name: Déploiement du projet

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, edited]
    branches:
      - main
  issues:
    types: [opened, closed]
  workflow_dispatch:

jobs:
 test:
    runs-on: ubuntu-latest

    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Installer Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Installer les dépendances
        run: npm ci

      - name: Exécuter les tests
        run: npm test
 deploy:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Récupération du dépôt
        uses: actions/checkout@v4

      - name: Installation de Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Installation des dépendances
        run: npm ci

      - name: Construction du projet
        run: npm run build

      - name: Déploiement
        run: echo "Déploiement simulé terminé ..."
      - name: Journaliser l’événement issue
        run: echo "Une issue a été ${{ github.event.action }}"
   
